* {
  padding: 0;
  margin: 0;
}
* *::before,
* *::after {
  box-sizing: border-box;
}

:root {
  --main-font: Inter tight;
  --main-color: teal;
  --header-font: playfair display;
  --footer-bg-color: #474747;
  --div-bg: #f9f9f7;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 4rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #f9f9f7;
  width: 100%;
  padding: 1rem;
}
.nav .bars {
  display: none;
}
.nav img {
  width: 250px;
}
.nav .links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav .links a {
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
  font-size: 18px;
}
.nav .links #hm {
  background-color: #dbdfd0;
  padding: 5px 14px;
  border-radius: 20px;
}
.nav #book {
  border: 2px solid black;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
}
.nav #book:hover {
  transition: all 0.5s;
  background-color: var(--main-color);
  color: white;
  border: none;
}

.menu {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.menu .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.menu .head span {
  font-family: var(--header-font);
  font-size: 60px;
  font-weight: 500;
}
.menu .head p {
  font-family: var(--main-font);
  font-size: 17px;
  text-align: center;
  font-weight: 300;
}
.menu .link {
  display: flex;
  gap: 1rem;
  font-family: var(--main-font);
}
.menu .link a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0.7rem 2.5rem;
  border: 2px solid #dbdfd0;
  text-align: center;
  border-radius: 30px;
}
.menu .link a:hover {
  background-color: var(--main-color);
  color: white;
  transition: all 0.5s;
  border: none;
}
.menu .dishes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-family: var(--main-font);
  margin-top: 1rem;
}
.menu .dishes .first-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu .dishes .first-row #one {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.menu .dishes .first-row #one img {
  width: 250px;
}
.menu .dishes .first-row #one #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #dbdfd0;
  border-top: none;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 2.57rem;
}
.menu .dishes .first-row #one #text h5 {
  color: var(--main-color);
}
.menu .dishes .first-row #one #text span {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.menu .dishes .first-row #one #text p {
  font-size: 12px;
  text-align: center;
  color: black;
}
.menu .dishes .second-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu .dishes .second-row #two {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.menu .dishes .second-row #two img {
  width: 250px;
}
.menu .dishes .second-row #two #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #dbdfd0;
  border-top: none;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 2.57rem;
}
.menu .dishes .second-row #two #text h5 {
  color: var(--main-color);
}
.menu .dishes .second-row #two #text span {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.menu .dishes .second-row #two #text p {
  font-size: 12px;
  text-align: center;
  color: black;
}

.delivery {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f7;
  padding: 3rem 1rem;
}
.delivery .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-left: 2.5rem;
}
.delivery .text span {
  font-family: var(--header-font);
  font-size: 40px;
  font-weight: 500;
}
.delivery .text p {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 200;
  text-align: start;
}
.delivery .apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery .apps #row-one {
  display: flex;
}
.delivery .apps #row-one a img {
  width: 200px;
}
.delivery .apps #row-two {
  display: flex;
}
.delivery .apps #row-two a img {
  width: 240px;
}
.delivery .apps #row-three {
  display: flex;
}
.delivery .apps #row-three a img {
  width: 200px;
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  gap: 5rem;
}
.footer #copy {
  color: #dbdfd0;
  font-size: 13px;
  font-weight: 200;
}
.footer .heading {
  display: flex;
  gap: 5rem;
}
.footer .heading .first {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer .heading .first span {
  color: #dbdfd0;
  font-size: 15px;
}
.footer .heading .first img {
  width: 220px;
}
.footer .heading .first .logos {
  display: flex;
  gap: 0.5rem;
}
.footer .heading .first .logos #sm {
  background-color: var(--main-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.footer .heading .pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 13px;
}
.footer .heading .pages span {
  font-weight: 500;
  font-size: 15px;
}
.footer .heading .pages a {
  text-decoration: none;
  color: #dbdfd0;
}
.footer .heading .utility {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 13px;
}
.footer .heading .utility span {
  font-weight: 500;
  font-size: 15px;
}
.footer .heading .utility a {
  text-decoration: none;
  color: #dbdfd0;
}
.footer .heading .textimage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  body {
    gap: 2rem;
    overflow-x: visible;
  }
  .nav {
    gap: 4rem;
    flex-direction: column;
    padding: 2rem 0rem;
    background-color: white;
  }
  .nav .bars {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 22px;
  }
  .nav .bars #close {
    display: none;
  }
  .nav .links {
    flex-direction: column;
    margin-top: 3rem;
    display: none;
  }
  .nav img {
    width: 120px;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .nav #book {
    display: none;
  }
  .menu {
    margin-top: 5rem;
    gap: 2rem;
  }
  .menu .head {
    gap: 0.5rem;
  }
  .menu .head span {
    font-size: 45px;
  }
  .menu .head p {
    font-size: 12px;
  }
  .menu .link {
    flex-direction: column;
  }
  .menu .link a {
    font-size: 12px;
    padding: 0.4rem 1.5rem;
  }
  .dishes .first-row {
    flex-direction: column;
  }
  .dishes .second-row {
    flex-direction: column;
  }
  .delivery {
    flex-direction: column;
    gap: 2rem;
  }
  .delivery .text {
    margin: 0;
    align-items: center;
    text-align: center;
  }
  .delivery .text p {
    text-align: center;
  }
  .delivery .apps #row-one a img {
    width: 100px;
  }
  .delivery .apps #row-two a img {
    width: 120px;
  }
  .delivery .apps #row-three a img {
    width: 100px;
  }
  .footer #copy {
    font-size: 10px;
  }
  .footer .heading {
    flex-direction: column;
    gap: 2rem;
  }
  .footer .heading .utility {
    display: none;
  }
  .footer .heading .first img {
    width: 180px;
  }
  .footer .heading .first .logos {
    font-size: 12px;
  }
  .footer .heading .textimage img {
    width: 120px;
  }
}/*# sourceMappingURL=menu.css.map */