* {
  padding: 0;
  margin: 0;
}
* *::before,
* *::after {
  box-sizing: border-box;
}

:root {
  --main-font: Inter tight;
  --main-color: teal;
  --header-font: playfair display;
  --footer-bg-color: #474747;
  --div-bg: #f9f9f7;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 4rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f9f9f7;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #f9f9f7;
  width: 100%;
  padding: 1rem;
}
.nav .bars {
  display: none;
}
.nav img {
  width: 250px;
}
.nav .links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav .links a {
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
  font-size: 18px;
}
.nav .links #hm {
  background-color: #dbdfd0;
  padding: 5px 14px;
  border-radius: 20px;
}
.nav #book {
  border: 2px solid black;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
}
.nav #book:hover {
  transition: all 0.5s;
  background-color: var(--main-color);
  color: white;
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 7rem;
}
.menu span {
  font-family: var(--header-font);
  font-size: 60px;
  font-weight: 500;
}
.menu p {
  font-family: var(--main-font);
  font-size: 17px;
  text-align: center;
  font-weight: 300;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: var(--main-font);
}
.articles .first-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.articles .first-row #first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.articles .first-row #first img {
  width: 235px;
}
.articles .first-row #first #text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.articles .first-row #first #text small {
  font-size: 12px;
  color: #bbbdb7;
  font-weight: 500;
}
.articles .first-row #first #text span {
  font-weight: 500;
}
.articles .second-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.articles .second-row #second {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.articles .second-row #second img {
  width: 235px;
}
.articles .second-row #second #text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.articles .second-row #second #text small {
  font-size: 12px;
  color: #bbbdb7;
  font-weight: 500;
}
.articles .second-row #second #text span {
  font-weight: 500;
}
.articles .third-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.articles .third-row #third {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.articles .third-row #third img {
  width: 235px;
}
.articles .third-row #third #text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.articles .third-row #third #text small {
  font-size: 12px;
  color: #bbbdb7;
  font-weight: 500;
}
.articles .third-row #third #text span {
  font-weight: 500;
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  gap: 5rem;
}
.footer #copy {
  color: #dbdfd0;
  font-size: 13px;
  font-weight: 200;
}
.footer .heading {
  display: flex;
  gap: 5rem;
}
.footer .heading .first {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer .heading .first span {
  color: #dbdfd0;
  font-size: 15px;
}
.footer .heading .first img {
  width: 220px;
}
.footer .heading .first .logos {
  display: flex;
  gap: 0.5rem;
}
.footer .heading .first .logos #sm {
  background-color: var(--main-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.footer .heading .pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 13px;
}
.footer .heading .pages span {
  font-weight: 500;
  font-size: 15px;
}
.footer .heading .pages a {
  text-decoration: none;
  color: #dbdfd0;
}
.footer .heading .utility {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 13px;
}
.footer .heading .utility span {
  font-weight: 500;
  font-size: 15px;
}
.footer .heading .utility a {
  text-decoration: none;
  color: #dbdfd0;
}
.footer .heading .textimage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  body {
    gap: 2rem;
    overflow-x: visible;
  }
  .nav {
    gap: 4rem;
    flex-direction: column;
    padding: 2rem 0rem;
    background-color: white;
  }
  .nav .bars {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 22px;
  }
  .nav .bars #close {
    display: none;
  }
  .nav .links {
    flex-direction: column;
    margin-top: 3rem;
    display: none;
  }
  .nav img {
    width: 120px;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .nav #book {
    display: none;
  }
  .menu {
    flex-direction: column;
  }
  .menu span {
    font-size: 33px;
    text-align: center;
  }
  .menu p {
    font-size: 13px;
    text-align: center;
  }
  .articles .first-row {
    flex-direction: column;
  }
  .articles .second-row {
    flex-direction: column;
  }
  .articles .third-row {
    flex-direction: column;
  }
}
.footer #copy {
  font-size: 10px;
}
.footer .heading {
  flex-direction: column;
  gap: 2rem;
}
.footer .heading .utility {
  display: none;
}
.footer .heading .first img {
  width: 180px;
}
.footer .heading .first .logos {
  font-size: 12px;
}
.footer .heading .textimage img {
  width: 120px;
}/*# sourceMappingURL=pages.css.map */